.BM-BlackScreen{
    transform: translateX(-150%);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
    background-color: #000000;
}
.BM-Content{
    position: absolute;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateX(-150%);
    background-color: white;
    width: 60vw;
    margin-top:10vh;
    height: 80vh;
}
    .BMH-Content{
        color: white;
        text-align: right;
        border-top-right-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
        background-color: #028699;
    }
        .BMH-BurgerMenuClose{
            height: 4vh;
            margin-left: 5vw;
        }
        .BMH-SystemName{
            margin-right: 2vw;
            font-size: 2vh;
            font-weight: bold;
        }
    .BMM-Content{
        font-size: 2vh;
        margin: 2vh 4vw 0 7vw;
    }
        .BMM_SplitLine{
            width: 100%;
            height: 0.2vh;
            background-color: black;
            border-radius: 2px;
            margin: 1vh 0 1vh 0;
        }
        .BMM-Item{
            margin: 0.5vh 0 0.5vh 0;
            text-decoration: none;
            color: #000000;
        }
            .BMM-Item:hover {
                font-weight: 600;
                color: #026573;
            }
            .logout:hover{
                font-weight: 900;
                color: #b40000;
            }

.BMF-Content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    margin-top: 25vh;
}
    .BMF-Logo{
        height: 3vh;
    }


header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
    .Header-BurgerMenuIcon{
        height: 5vh;
        margin-left: 4vw;
        display: block;
    }

main{
    align-items: flex-start;
    flex-wrap: wrap;
}
    .MD-Content, .MI-Content, .MM-Content{
        width: 75vw;
        height: max-content;
        margin-top: 5vh;
        font-size: 2vh;
        background-color: #808080;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
        .MD-Item{
            margin: 2vh 2vw;
            display: flex;
            align-items: center;
        }
            .MD-Item > img{
                height: 5vh;
            }
        .MM-Item, .MI-Item{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
            .MM-ItemHeader, .MI-ItemHeader{
                font-size: 3.5vh;
                margin-left: 2vw;
            }

